<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyihenkey.supplier.dao.malldb.mapper.SupplierGoodsCategoryMapper">
    <resultMap id="BaseResultMap" type="com.yunyihenkey.basedao.malldb.basevo.SupplierGoodsCategory">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="count" jdbcType="BIGINT" property="count"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, sort_order, create_user, create_time, update_user, update_time, count,
    is_delete
  </sql>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        id,
        name,
        sort_order,
        create_time,
        count
        from supplier_goods_category
        <if test="_parameter != null">
            where name like concat('%',#{name },'%')
        </if>
        order by sort_order desc
    </select>

</mapper>