<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yunyihenkey.seller.dao.malldb.mapper.AuthSellerUserTokenMapper">
	<resultMap id="BaseResultMap"
		type="com.yunyihenkey.basedao.malldb.basevo.SellerUserToken">
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="token_id" jdbcType="VARCHAR" property="tokenId" />
		<result column="login_source" jdbcType="INTEGER"
			property="loginSource" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
	</resultMap>

	<select id="getByUserId" resultMap="BaseResultMap">
		SELECT
		*
		FROM
		operation_user_token
		WHERE
		user_id = #{userId}
	</select>


</mapper>