<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyihenkey.basedao.malldb.basemapper.MallSysOperationUserTokenBaseMapper">
  <resultMap id="BaseResultMap" type="com.yunyihenkey.basedao.malldb.basevo.MallSysOperationUserToken">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="token_id" jdbcType="VARCHAR" property="tokenId" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, token_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_sys_operation_user_token
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mall_sys_operation_user_token
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunyihenkey.basedao.malldb.basevo.MallSysOperationUserToken">
    insert into mall_sys_operation_user_token (user_id, token_id)
    values (#{userId,jdbcType=BIGINT}, #{tokenId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.MallSysOperationUserToken">
    insert into mall_sys_operation_user_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="tokenId != null">
        token_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="tokenId != null">
        #{tokenId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.MallSysOperationUserToken">
    update mall_sys_operation_user_token
    <set>
      <if test="tokenId != null">
        token_id = #{tokenId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunyihenkey.basedao.malldb.basevo.MallSysOperationUserToken">
    update mall_sys_operation_user_token
    set token_id = #{tokenId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>