<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyihenkey.basedao.malldb.basemapper.SellerSurveyStatisticsBaseMapper">
  <resultMap id="BaseResultMap" type="com.yunyihenkey.basedao.malldb.basevo.SellerSurveyStatistics">
    <id column="date_of_the_day" jdbcType="VARCHAR" property="dateOfTheDay" />
    <result column="count_new_members" jdbcType="INTEGER" property="countNewMembers" />
    <result column="count_order_today" jdbcType="INTEGER" property="countOrderToday" />
    <result column="order_amount_of_today" jdbcType="BIGINT" property="orderAmountOfToday" />
    <result column="count_refund_after_sale" jdbcType="INTEGER" property="countRefundAfterSale" />
    <result column="todays_earnings" jdbcType="BIGINT" property="todaysEarnings" />
  </resultMap>
  <sql id="Base_Column_List">
    date_of_the_day, count_new_members, count_order_today, order_amount_of_today, count_refund_after_sale, 
    todays_earnings
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller_survey_statistics
    where date_of_the_day = #{dateOfTheDay,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from seller_survey_statistics
    where date_of_the_day = #{dateOfTheDay,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerSurveyStatistics">
    insert into seller_survey_statistics (date_of_the_day, count_new_members, count_order_today, 
      order_amount_of_today, count_refund_after_sale, 
      todays_earnings)
    values (#{dateOfTheDay,jdbcType=VARCHAR}, #{countNewMembers,jdbcType=INTEGER}, #{countOrderToday,jdbcType=INTEGER}, 
      #{orderAmountOfToday,jdbcType=BIGINT}, #{countRefundAfterSale,jdbcType=INTEGER}, 
      #{todaysEarnings,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerSurveyStatistics">
    insert into seller_survey_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dateOfTheDay != null">
        date_of_the_day,
      </if>
      <if test="countNewMembers != null">
        count_new_members,
      </if>
      <if test="countOrderToday != null">
        count_order_today,
      </if>
      <if test="orderAmountOfToday != null">
        order_amount_of_today,
      </if>
      <if test="countRefundAfterSale != null">
        count_refund_after_sale,
      </if>
      <if test="todaysEarnings != null">
        todays_earnings,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dateOfTheDay != null">
        #{dateOfTheDay,jdbcType=VARCHAR},
      </if>
      <if test="countNewMembers != null">
        #{countNewMembers,jdbcType=INTEGER},
      </if>
      <if test="countOrderToday != null">
        #{countOrderToday,jdbcType=INTEGER},
      </if>
      <if test="orderAmountOfToday != null">
        #{orderAmountOfToday,jdbcType=BIGINT},
      </if>
      <if test="countRefundAfterSale != null">
        #{countRefundAfterSale,jdbcType=INTEGER},
      </if>
      <if test="todaysEarnings != null">
        #{todaysEarnings,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerSurveyStatistics">
    update seller_survey_statistics
    <set>
      <if test="countNewMembers != null">
        count_new_members = #{countNewMembers,jdbcType=INTEGER},
      </if>
      <if test="countOrderToday != null">
        count_order_today = #{countOrderToday,jdbcType=INTEGER},
      </if>
      <if test="orderAmountOfToday != null">
        order_amount_of_today = #{orderAmountOfToday,jdbcType=BIGINT},
      </if>
      <if test="countRefundAfterSale != null">
        count_refund_after_sale = #{countRefundAfterSale,jdbcType=INTEGER},
      </if>
      <if test="todaysEarnings != null">
        todays_earnings = #{todaysEarnings,jdbcType=BIGINT},
      </if>
    </set>
    where date_of_the_day = #{dateOfTheDay,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerSurveyStatistics">
    update seller_survey_statistics
    set count_new_members = #{countNewMembers,jdbcType=INTEGER},
      count_order_today = #{countOrderToday,jdbcType=INTEGER},
      order_amount_of_today = #{orderAmountOfToday,jdbcType=BIGINT},
      count_refund_after_sale = #{countRefundAfterSale,jdbcType=INTEGER},
      todays_earnings = #{todaysEarnings,jdbcType=BIGINT}
    where date_of_the_day = #{dateOfTheDay,jdbcType=VARCHAR}
  </update>
</mapper>