<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyihenkey.basedao.malldb.basemapper.SellerShopMembersBaseMapper">
  <resultMap id="BaseResultMap" type="com.yunyihenkey.basedao.malldb.basevo.SellerShopMembers">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="members_account" jdbcType="VARCHAR" property="membersAccount" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="members_name" jdbcType="VARCHAR" property="membersName" />
    <result column="balance" jdbcType="BIGINT" property="balance" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_id, members_account, phone_num, members_name, balance, state, create_time, 
    is_delete, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller_shop_members
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from seller_shop_members
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerShopMembers">
    insert into seller_shop_members (id, shop_id, members_account, 
      phone_num, members_name, balance, 
      state, create_time, is_delete, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, #{membersAccount,jdbcType=VARCHAR}, 
      #{phoneNum,jdbcType=VARCHAR}, #{membersName,jdbcType=VARCHAR}, #{balance,jdbcType=BIGINT}, 
      #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerShopMembers">
    insert into seller_shop_members
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="membersAccount != null">
        members_account,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="membersName != null">
        members_name,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="membersAccount != null">
        #{membersAccount,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="membersName != null">
        #{membersName,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerShopMembers">
    update seller_shop_members
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="membersAccount != null">
        members_account = #{membersAccount,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="membersName != null">
        members_name = #{membersName,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerShopMembers">
    update seller_shop_members
    set shop_id = #{shopId,jdbcType=BIGINT},
      members_account = #{membersAccount,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      members_name = #{membersName,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>