<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyihenkey.basedao.malldb.basemapper.SellerGoodsInfoBaseMapper">
  <resultMap id="BaseResultMap" type="com.yunyihenkey.basedao.malldb.basevo.SellerGoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
      <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
      <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_code" jdbcType="BIGINT" property="goodsCode" />
      <result column="stock" jdbcType="INTEGER" property="stock"/>
      <result column="goods_title" jdbcType="VARCHAR" property="goodsTitle"/>
    <result column="delivery_template_name" jdbcType="VARCHAR" property="deliveryTemplateName" />
    <result column="supply_price" jdbcType="BIGINT" property="supplyPrice" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sale_amount" jdbcType="BIGINT" property="saleAmount" />
    <result column="pv_value" jdbcType="BIGINT" property="pvValue" />
    <result column="add_count" jdbcType="INTEGER" property="addCount" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.yunyihenkey.basedao.malldb.basevo.SellerGoodsInfo">
        <result column="pic_url" jdbcType="LONGVARCHAR" property="picUrl"/>
    </resultMap>
  <sql id="Base_Column_List">
    id, shop_id, category_id, goods_id, goods_code, stock, goods_title, delivery_template_name, 
    supply_price, price, status, create_user, create_time, update_user, update_time, 
    sale_amount, pv_value, add_count, is_delete
  </sql>
    <sql id="Blob_Column_List">
    pic_url
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List"/>
    from seller_goods_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from seller_goods_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerGoodsInfo">
    insert into seller_goods_info (id, shop_id, category_id, 
      goods_id, goods_code, stock, 
      goods_title, delivery_template_name, supply_price, 
      price, status, create_user, 
      create_time, update_user, update_time, 
      sale_amount, pv_value, add_count, 
      is_delete, pic_url)
    values (#{id,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, 
      #{goodsId,jdbcType=BIGINT}, #{goodsCode,jdbcType=BIGINT}, #{stock,jdbcType=INTEGER}, 
      #{goodsTitle,jdbcType=VARCHAR}, #{deliveryTemplateName,jdbcType=VARCHAR}, #{supplyPrice,jdbcType=BIGINT}, 
      #{price,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{saleAmount,jdbcType=BIGINT}, #{pvValue,jdbcType=BIGINT}, #{addCount,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{picUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerGoodsInfo">
    insert into seller_goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="goodsTitle != null">
        goods_title,
      </if>
      <if test="deliveryTemplateName != null">
        delivery_template_name,
      </if>
      <if test="supplyPrice != null">
        supply_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="saleAmount != null">
        sale_amount,
      </if>
      <if test="pvValue != null">
        pv_value,
      </if>
      <if test="addCount != null">
        add_count,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
        <if test="picUrl != null">
            pic_url,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=BIGINT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="goodsTitle != null">
        #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTemplateName != null">
        #{deliveryTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="supplyPrice != null">
        #{supplyPrice,jdbcType=BIGINT},
      </if>
      <if test="price != null">
        #{price,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="saleAmount != null">
        #{saleAmount,jdbcType=BIGINT},
      </if>
      <if test="pvValue != null">
        #{pvValue,jdbcType=BIGINT},
      </if>
      <if test="addCount != null">
        #{addCount,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
        <if test="picUrl != null">
            #{picUrl,jdbcType=LONGVARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerGoodsInfo">
    update seller_goods_info
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=BIGINT},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="goodsTitle != null">
        goods_title = #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTemplateName != null">
        delivery_template_name = #{deliveryTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="supplyPrice != null">
        supply_price = #{supplyPrice,jdbcType=BIGINT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="saleAmount != null">
        sale_amount = #{saleAmount,jdbcType=BIGINT},
      </if>
      <if test="pvValue != null">
        pv_value = #{pvValue,jdbcType=BIGINT},
      </if>
      <if test="addCount != null">
        add_count = #{addCount,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
        <if test="picUrl != null">
            pic_url = #{picUrl,jdbcType=LONGVARCHAR},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerGoodsInfo">
    update seller_goods_info
    set shop_id = #{shopId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_code = #{goodsCode,jdbcType=BIGINT},
      stock = #{stock,jdbcType=INTEGER},
      goods_title = #{goodsTitle,jdbcType=VARCHAR},
      delivery_template_name = #{deliveryTemplateName,jdbcType=VARCHAR},
      supply_price = #{supplyPrice,jdbcType=BIGINT},
      price = #{price,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sale_amount = #{saleAmount,jdbcType=BIGINT},
      pv_value = #{pvValue,jdbcType=BIGINT},
      add_count = #{addCount,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      pic_url = #{picUrl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunyihenkey.basedao.malldb.basevo.SellerGoodsInfo">
    update seller_goods_info
    set shop_id = #{shopId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_code = #{goodsCode,jdbcType=BIGINT},
      stock = #{stock,jdbcType=INTEGER},
      goods_title = #{goodsTitle,jdbcType=VARCHAR},
      delivery_template_name = #{deliveryTemplateName,jdbcType=VARCHAR},
      supply_price = #{supplyPrice,jdbcType=BIGINT},
      price = #{price,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sale_amount = #{saleAmount,jdbcType=BIGINT},
      pv_value = #{pvValue,jdbcType=BIGINT},
      add_count = #{addCount,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>