<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyihenkey.basedao.malldb.basemapper.SupplierGoodsInfoBaseMapper">
  <resultMap id="BaseResultMap" type="com.yunyihenkey.basedao.malldb.basevo.SupplierGoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
      <result column="goods_code" jdbcType="BIGINT" property="goodsCode"/>
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="sell_point" jdbcType="VARCHAR" property="sellPoint" />
      <result column="delivery_template_name" jdbcType="INTEGER" property="deliveryTemplateName"/>
    <result column="status" jdbcType="INTEGER" property="status" />
      <result column="price" jdbcType="BIGINT" property="price"/>
    <result column="supply_price" jdbcType="BIGINT" property="supplyPrice" />
    <result column="min_retail_price" jdbcType="BIGINT" property="minRetailPrice" />
    <result column="max_retail_price" jdbcType="BIGINT" property="maxRetailPrice" />
    <result column="sale_amount" jdbcType="BIGINT" property="saleAmount" />
    <result column="pv_value" jdbcType="BIGINT" property="pvValue" />
    <result column="min_profit" jdbcType="VARCHAR" property="minProfit" />
    <result column="max_profit" jdbcType="VARCHAR" property="maxProfit" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
      <result column="version" jdbcType="BIGINT" property="version"/>
      <result column="review_user" jdbcType="VARCHAR" property="reviewUser"/>
      <result column="total_stock" jdbcType="INTEGER" property="totalStock"/>
      <result column="submit_user" jdbcType="VARCHAR" property="submitUser"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yunyihenkey.basedao.malldb.basevo.SupplierGoodsInfo">
    <result column="pic_url" jdbcType="LONGVARCHAR" property="picUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, supplier_id, goods_code, goods_name, cat_id, stock, sell_point, 
    delivery_template_name, status, price, supply_price, min_retail_price, max_retail_price, 
    sale_amount, pv_value, min_profit, max_profit, create_user, update_user, create_time, 
    update_time, is_delete, version, review_user, total_stock, submit_user
  </sql>
  <sql id="Blob_Column_List">
    pic_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from supplier_goods_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from supplier_goods_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yunyihenkey.basedao.malldb.basevo.SupplierGoodsInfo">
    insert into supplier_goods_info (id, category_id, supplier_id, 
      goods_code, goods_name, cat_id, 
      stock, sell_point, delivery_template_name, 
      status, price, supply_price, 
      min_retail_price, max_retail_price, sale_amount, 
      pv_value, min_profit, max_profit, 
      create_user, update_user, create_time, 
      update_time, is_delete, version, 
      review_user, total_stock, submit_user, 
      pic_url)
    values (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{supplierId,jdbcType=BIGINT}, 
      #{goodsCode,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, #{catId,jdbcType=INTEGER}, 
      #{stock,jdbcType=INTEGER}, #{sellPoint,jdbcType=VARCHAR}, #{deliveryTemplateName,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{price,jdbcType=BIGINT}, #{supplyPrice,jdbcType=BIGINT}, 
      #{minRetailPrice,jdbcType=BIGINT}, #{maxRetailPrice,jdbcType=BIGINT}, #{saleAmount,jdbcType=BIGINT}, 
      #{pvValue,jdbcType=BIGINT}, #{minProfit,jdbcType=VARCHAR}, #{maxProfit,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, #{version,jdbcType=BIGINT}, 
      #{reviewUser,jdbcType=VARCHAR}, #{totalStock,jdbcType=INTEGER}, #{submitUser,jdbcType=VARCHAR}, 
      #{picUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.SupplierGoodsInfo">
    insert into supplier_goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="catId != null">
        cat_id,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="sellPoint != null">
        sell_point,
      </if>
      <if test="deliveryTemplateName != null">
        delivery_template_name,
      </if>
      <if test="status != null">
        status,
      </if>
        <if test="price != null">
            price,
        </if>
      <if test="supplyPrice != null">
        supply_price,
      </if>
      <if test="minRetailPrice != null">
        min_retail_price,
      </if>
      <if test="maxRetailPrice != null">
        max_retail_price,
      </if>
      <if test="saleAmount != null">
        sale_amount,
      </if>
      <if test="pvValue != null">
        pv_value,
      </if>
      <if test="minProfit != null">
        min_profit,
      </if>
      <if test="maxProfit != null">
        max_profit,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
        <if test="version != null">
            version,
        </if>
        <if test="reviewUser != null">
            review_user,
        </if>
        <if test="totalStock != null">
            total_stock,
        </if>
        <if test="submitUser != null">
            submit_user,
        </if>
      <if test="picUrl != null">
        pic_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
          #{goodsCode,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="catId != null">
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="sellPoint != null">
        #{sellPoint,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTemplateName != null">
          #{deliveryTemplateName,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
        <if test="price != null">
            #{price,jdbcType=BIGINT},
        </if>
      <if test="supplyPrice != null">
        #{supplyPrice,jdbcType=BIGINT},
      </if>
      <if test="minRetailPrice != null">
        #{minRetailPrice,jdbcType=BIGINT},
      </if>
      <if test="maxRetailPrice != null">
        #{maxRetailPrice,jdbcType=BIGINT},
      </if>
      <if test="saleAmount != null">
        #{saleAmount,jdbcType=BIGINT},
      </if>
      <if test="pvValue != null">
        #{pvValue,jdbcType=BIGINT},
      </if>
      <if test="minProfit != null">
        #{minProfit,jdbcType=VARCHAR},
      </if>
      <if test="maxProfit != null">
        #{maxProfit,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
        <if test="version != null">
            #{version,jdbcType=BIGINT},
        </if>
        <if test="reviewUser != null">
            #{reviewUser,jdbcType=VARCHAR},
        </if>
        <if test="totalStock != null">
            #{totalStock,jdbcType=INTEGER},
        </if>
        <if test="submitUser != null">
            #{submitUser,jdbcType=VARCHAR},
        </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunyihenkey.basedao.malldb.basevo.SupplierGoodsInfo">
    update supplier_goods_info
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
          goods_code = #{goodsCode,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="catId != null">
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="sellPoint != null">
        sell_point = #{sellPoint,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTemplateName != null">
          delivery_template_name = #{deliveryTemplateName,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
        <if test="price != null">
            price = #{price,jdbcType=BIGINT},
        </if>
      <if test="supplyPrice != null">
        supply_price = #{supplyPrice,jdbcType=BIGINT},
      </if>
      <if test="minRetailPrice != null">
        min_retail_price = #{minRetailPrice,jdbcType=BIGINT},
      </if>
      <if test="maxRetailPrice != null">
        max_retail_price = #{maxRetailPrice,jdbcType=BIGINT},
      </if>
      <if test="saleAmount != null">
        sale_amount = #{saleAmount,jdbcType=BIGINT},
      </if>
      <if test="pvValue != null">
        pv_value = #{pvValue,jdbcType=BIGINT},
      </if>
      <if test="minProfit != null">
        min_profit = #{minProfit,jdbcType=VARCHAR},
      </if>
      <if test="maxProfit != null">
        max_profit = #{maxProfit,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
        <if test="version != null">
            version = #{version,jdbcType=BIGINT},
        </if>
        <if test="reviewUser != null">
            review_user = #{reviewUser,jdbcType=VARCHAR},
        </if>
        <if test="totalStock != null">
            total_stock = #{totalStock,jdbcType=INTEGER},
        </if>
        <if test="submitUser != null">
            submit_user = #{submitUser,jdbcType=VARCHAR},
        </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yunyihenkey.basedao.malldb.basevo.SupplierGoodsInfo">
    update supplier_goods_info
    set category_id = #{categoryId,jdbcType=BIGINT},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      goods_code = #{goodsCode,jdbcType=BIGINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      cat_id = #{catId,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      sell_point = #{sellPoint,jdbcType=VARCHAR},
      delivery_template_name = #{deliveryTemplateName,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      price = #{price,jdbcType=BIGINT},
      supply_price = #{supplyPrice,jdbcType=BIGINT},
      min_retail_price = #{minRetailPrice,jdbcType=BIGINT},
      max_retail_price = #{maxRetailPrice,jdbcType=BIGINT},
      sale_amount = #{saleAmount,jdbcType=BIGINT},
      pv_value = #{pvValue,jdbcType=BIGINT},
      min_profit = #{minProfit,jdbcType=VARCHAR},
      max_profit = #{maxProfit,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      version = #{version,jdbcType=BIGINT},
      review_user = #{reviewUser,jdbcType=VARCHAR},
      total_stock = #{totalStock,jdbcType=INTEGER},
      submit_user = #{submitUser,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunyihenkey.basedao.malldb.basevo.SupplierGoodsInfo">
    update supplier_goods_info
    set category_id = #{categoryId,jdbcType=BIGINT},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      goods_code = #{goodsCode,jdbcType=BIGINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      cat_id = #{catId,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      sell_point = #{sellPoint,jdbcType=VARCHAR},
      delivery_template_name = #{deliveryTemplateName,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      price = #{price,jdbcType=BIGINT},
      supply_price = #{supplyPrice,jdbcType=BIGINT},
      min_retail_price = #{minRetailPrice,jdbcType=BIGINT},
      max_retail_price = #{maxRetailPrice,jdbcType=BIGINT},
      sale_amount = #{saleAmount,jdbcType=BIGINT},
      pv_value = #{pvValue,jdbcType=BIGINT},
      min_profit = #{minProfit,jdbcType=VARCHAR},
      max_profit = #{maxProfit,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      version = #{version,jdbcType=BIGINT},
      review_user = #{reviewUser,jdbcType=VARCHAR},
      total_stock = #{totalStock,jdbcType=INTEGER},
      submit_user = #{submitUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>