<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyihenkey.seller.dao.malldb.mapper.SellerUserBakMapper">
    <insert id="save" parameterType="Long">
            INSERT INTO seller_user_bak  SELECT * FROM seller_user WHERE id=#{id}
  </insert>
</mapper>