<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yunyihenkey.seller.dao.malldb.mapper.SellerShopTakeCashLogMapper">

	<resultMap id="BaseResultMap"
		type="com.yunyihenkey.basedao.malldb.basevo.SellerShopTakeCashLog">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="shop_id" jdbcType="BIGINT" property="shopId" />
		<result column="take_cash_money" jdbcType="BIGINT"
			property="takeCashMoney" />
		<result column="service_charge_money" jdbcType="BIGINT"
			property="serviceChargeMoney" />
		<result column="take_cash_status" jdbcType="INTEGER"
			property="takeCashStatus" />
		<result column="bank_user_name" jdbcType="VARCHAR"
			property="bankUserName" />
		<result column="bank_name" jdbcType="VARCHAR"
			property="bankName" />
		<result column="bank_address" jdbcType="VARCHAR"
			property="bankAddress" />
		<result column="bank_card_number" jdbcType="VARCHAR"
			property="bankCardNumber" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP"
			property="updateTime" />
	</resultMap>

	<select id="getByShopId" resultMap="BaseResultMap">
		SELECT
		id,
		shop_id,
		take_cash_money,
		service_charge_money,
		take_cash_status,
		bank_user_name,
		bank_name,
		bank_address,
		CONCAT(
		'**** **** **** ',
		substring(bank_card_number, - 4)
		) bank_card_number,
		create_time,
		update_time
		FROM
		seller_shop_take_cash_log
		WHERE
		shop_id = #{shopId}
	</select>

</mapper>