<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.yunyihenkey.seller.dao.malldb.mapper.SellerShopMoneyBusinessMapper">
    <resultMap id="BaseResultMap"
               type="com.yunyihenkey.basedao.malldb.basevo.SellerShopMoneyBusiness">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="business_money" jdbcType="BIGINT"
                property="businessMoney"/>
        <result column="revenue_money" jdbcType="BIGINT"
                property="revenueMoney"/>
        <result column="business_type" jdbcType="INTEGER"
                property="businessType"/>
        <result column="create_time" jdbcType="TIMESTAMP"
                property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP"
                property="updateTime"/>
    </resultMap>

    <select id="getByShopId" resultMap="BaseResultMap">
		SELECT
		*
		FROM
		seller_shop_money_business
		WHERE
		shop_id = #{shopId}
	</select>

</mapper>